<div class="row">
    <div class="col-sm-8">
        <label>
            {{orderDetail?.pizza?.name}}
        </label>
        <span class="text-muted">
            {{orderDetail?.pizza?.size?.description}} ({{orderDetail?.pizza?.size?.inches}}")
        </span>
        <br/>
        <span *ngFor="let item of orderDetail.pizza.ingredients" class="text-muted">
            {{item.ingredient}}
        </span>
        <h4 class="pull-right">
            PHP {{orderDetail.quantity * orderDetail.pizza.price}}
        </h4>
    </div>
    <div class="col-sm-4">
        <mat-form-field class="form-quantity">
            <input matInput [disabled]="orderCompleted" type="number" placeholder="quantity" min=0 [(ngModel)]="orderDetail.quantity"
                (ngModelChange)="onQuantityChange()" />
        </mat-form-field>
        <div class="pull-right">
            <button mat-raised-button (click)="onRemoveOrder(orderDetail)">Remove</button>
        </div>
    </div>
</div>