<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-title>
        Client Details
      </mat-card-title>
      <mat-card-content>
        <form>
          <fieldset [disabled]="order.isCompleted" class="form-group col-sm-6">
            <mat-form-field class="form-firstName">
              <input matInput type="text" placeholder="first name" [(ngModel)]="order.client.firstName" name="firstName" required/>
            </mat-form-field>
            <br/>
            <mat-form-field class="form-lastName">
              <input matInput type="text" placeholder="last name" [(ngModel)]="order.client.lastName" name="lastName" required/>
            </mat-form-field>
            <br/>
            <mat-form-field class="form-email">
              <input matInput type="email" placeholder="email" [(ngModel)]="order.client.email" name="email" required/>
            </mat-form-field>
            <br/>
            <mat-form-field class="form-contactNumber">
              <input matInput type="text" placeholder="contact number" [(ngModel)]="order.client.contactNumber" name="contactNumber" required/>
            </mat-form-field>
          </fieldset>
          <fieldset [disabled]="order.isCompleted" class="form-group col-sm-6">
            <mat-form-field class="form-address-street">
              <input matInput type="text" placeholder="street" [(ngModel)]="order.client.address.street" name="street" required/>
            </mat-form-field>
            <br/>
            <mat-form-field class="form-address-city">
              <input matInput type="text" placeholder="city" [(ngModel)]="order.client.address.city" name="city" required/>
            </mat-form-field>
            <br/>
            <mat-form-field class="form-address-zip">
              <input matInput type="text" placeholder="zip" [(ngModel)]="order.client.address.zip" name="zip" required/>
            </mat-form-field>
          </fieldset>
        </form>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <button *ngIf="!order.isCompleted" mat-raised-button color="primary" (click)="onCompleteOrder()">Complete Order</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-title>
        Shopping Cart
        <mat-icon>shopping_cart</mat-icon>
        <span class="badge">{{orderCount}}</span>
      </mat-card-title>
      <mat-card-content>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Order Details
            </mat-panel-title>
            <mat-panel-description>
              PHP {{orderTotal}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let orderDetail of order.orderDetails">
            <app-order-detail [orderDetail]="orderDetail" [orderCompleted]="order.isCompleted"></app-order-detail>
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="text-right" *ngIf="order.isCompleted">
  <br/>
  <!-- <button mat-raised-button color="primary" (click)="onNewOrder()">New Order</button> -->
</div>