<div class="row">
  <div class="col-sm-12">
    <app-order-form [order]="order"></app-order-form>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-title>
        Shopping Cart
        <mat-icon>shopping_cart</mat-icon>
        <span class="badge">{{orderCount}}</span>
      </mat-card-title>
      <mat-card-content>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Order Details
            </mat-panel-title>
            <mat-panel-description>
              PHP {{orderTotal}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let orderDetail of order.orderDetails">
            <app-order-detail [orderDetail]="orderDetail" [orderCompleted]="order.isCompleted"></app-order-detail>
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <br/>
<div class="row">
  <div class="col-sm-12">
    <pre>
      {{ order | json }}
    </pre>
  </div>
</div> -->