<mat-toolbar color="primary">
    <span>{{title}}</span>
</mat-toolbar>
<mat-card class="card-demo">
    <mat-card-title class="text-center">Magenic Pizza</mat-card-title>
    <mat-card-content>
        <div class="container">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                <div fxFlex>
                    <app-catalog></app-catalog>
                </div>
                <div fxFlex>
                    <app-order-detail></app-order-detail>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>